
style{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#container{
    width: 1200px;
    height: 830;
    /* background-color: #f5c4cb; */
    border-radius: 20px;
    margin: auto;
    
}

nav{
    width: 1200px;
    height: 40px;
    /* background-color: #f97; */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: right;
    /* -webkit-text-fill-color: #650211; */
    font-size: 16px; 
    /*margin-top: -40px; */ 
    padding-top: 20px;
} 

nav>a{

margin-left: 20px;
color:#0C243C
}

header{ 
    width: 1200px; 
    height: 360px; 
    /* background-color: #650211; */ 
} 

section{ 
    width: 920px; 
    height: 1187px;
    /* background-color: #85303d; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 18px;
    padding-top: 20px;
    margin: auto;
}

footer{
    width: 1200px;
    height: 50px;
    background-color: #0C243C;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 18px;
    padding-top: 20px;
    color: white;
}

*{
    margin: 8;
    padding: 8;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

img.logo{
    width: 298px;
    height: 71px;
    /* display:block - to remove descender spacing*/
    display: block;
    border-top-left-radius: 20px;
}


h1{
    font-size: 20px;
    color: #E94D40;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

 
 textarea{
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
 }

 input[type="submit"]{
    background-color: rgb(230, 229, 229);
    padding: 5px 10px;
    border-radius: 1px;
 }

 h{
    font-size: 20px;
    color: #E94D40;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -135px;
}